<div class="mt-5">
    {{> messagesBlock}}
</div>
<div class="backboard-content d-flex flex-wrap" style="overflow-x: hidden;">
    <div class="backboard-content__panel row flex-grow-0" style="width: 20rem">
        {{> filters}}
    </div>
    <div class="backboard-content__tasks row d-flex flex-row justify-content-start flex-grow-1 ms-3">
        <div class="d-flex justify-content-start flex-wrap" id="backboard">
            {{#if tasks.length}}
            {{#each tasks}}
            <div class="me-3 mb-3">
                {{> backboardCard }}
                {{> backboardDetailsModal }}
            </div>

            {{/each}}
            {{/if}}
        </div>
    </div>
</div>