<div class="backboard-content mt-5 d-flex">
    <div class="backboard-content__tasks row d-flex flex-row justify-content-start flex-grow-1">
        <div class="mt-3 d-flex justify-content-start" id="backboard">
            {{#if tasks.length}}
            {{#each tasks}}
            <div class="me-3 mb-3">
                {{> backboardCard }}
                {{> backboardDetailsModal }}
            </div>

            {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="backboard-content__panel row flex-grow-0" style="width: 20rem">
        {{#if error}}
        <div class="alert alert-danger mt-1" role="alert">
            {{#each error}}
            <li>{{this}}</li>
            {{/each}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-success mt-1" role="alert">
            {{#each message}}
            <li>{{this}}</li>
            {{/each}}
        </div>
        {{/if}}
        {{> filters}}
    </div>
</div>