<div class="row justify-content-md-center" style="margin-top: 150px">
    <div class="col-md-4">

        {{> messagesBlock}}

        <form method="POST" action="/signup">
            <div class="form-group mb-1">
                <label for="usernameInput">Username</label>
                <input name="username" type="text" class="form-control" id="usernameInput" placeholder="Username">
            </div>

            <div class="form-group mb-1">
                <label for="emailInput">Email address</label>
                <input name="email" type="email" class="form-control" id="emailInput" placeholder="Email">
            </div>

            <div class="form-group mb-1">
                <label for="passwordInput">Password</label>
                <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>

            <div class="form-group mb-2">
                <label for="repeatedPasswordInput">Confirm Password</label>
                <input name="repeatedPassword" type="password" class="form-control" id="repeatedPasswordInput"
                    placeholder="Repeat password">
            </div>

            <button type="submit" class="btn btn-primary mb-2">Sign up</button>
        </form>
        <p>Have an account? <a href="/signin">Sign in</a> </p>
    </div>
</div>