<div class="row justify-content-md-center" style="margin-top: 150px">
    <div class="col-md-4">

        {{#if message}}
        <div class="alert alert-{{status}}" role=" alert">
            {{message}}
        </div>
        {{/if}}

        {{!-- {{#if messages}}
        {{#each messages}}
        <div class="alert" role="alert">
            {{this.error}}
        </div>
        {{/each}}
        {{/if}} --}}

        <form method="POST" action="/signin">
            <div class="form-group mb-1">
                <label for="usernameInput">Username</label>
                <input name="username" type="text" class="form-control" id="usernameInput" placeholder="Username">
            </div>
            {{!--
            <div class="form-group mb-1">
                <label for="emailInput">Email address</label>
                <input name="email" type="email" class="form-control" id="emailInput" placeholder="Email">
            </div> --}}

            <div class="form-group mb-1">
                <label for="passwordInput">Password</label>
                <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary mb-2">Sign in</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up</a> </p>
    </div>
</div>