<div class="row justify-content-center mt-5">
    {{> messagesBlock}}
    <table id="tasks-table" class="table mt-2">

        <tbody>

            <tr>
                <th>TO DO</th>
                {{#if toDo.length}}
                {{#each toDo}}
                <td>
                    {{> taskCard }}
                    {{> taskDetailsModal }}
                </td>

                {{> taskEditModal }}
                {{> confirmationDeleteModal}}
                {{> confirmationMoveModal}}


                {{/each}}
                {{/if}}
            </tr>
            <tr>
                <th>IN PROGRESS</th>
                {{#if inProgress.length}}
                {{#each inProgress}}
                <td>
                    {{> taskCard }}
                    {{> taskDetailsModal }}

                </td>

                {{> taskEditModal }}
                {{> confirmationDeleteModal}}
                {{> confirmationMoveModal}}


                {{/each}}
                {{/if}}
            </tr>
            <tr>
                <th>DONE</th>
                {{#if done.length}}
                {{#each done}}
                <td>
                    {{> taskCard }}
                    {{> taskDetailsModal }}
                </td>
                {{> taskEditModal }}
                {{> confirmationDeleteModal}}
                {{> confirmationMoveModal}}


                {{/each}}
                {{/if}}
            </tr>
        </tbody>
    </table>

    <!-- newTaskModal -->
    <div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="newTaskModalLabel" aria-hidden="true"
        style="overflow-y:scroll;">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTaskModalLabel">Add new task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{> taskForm }}

            </div>
        </div>
    </div>
</div>
<!-- newTaskModal -->

</div>