<div class="modal fade" id="confirmationUserModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Change user {{username}} state"</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to change user status?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="/admin/users/{{id}}?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-danger btn-ok">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>