<div class="filters container p-2" style="font-family:monospace;">
    <div class="row">
        <div class="col-7">
            <form action="">
                <div class="filters-status">
                    <p class="m-0">Status</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label small" for="flexRadioDefault1">
                            TO DO
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label small" for="flexRadioDefault2">
                            IN PROGRESS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label small" for="flexRadioDefault2">
                            DONE
                        </label>
                    </div>
                </div>
                <div class="filters-date">

                </div>
                <div class="filters-value">

                </div>
            </form>
        </div>
        <div class="col-5">
            <form class="d-flex" role="search" action="/" method="get">
                <input class="form-control me-2" style="line-height: 1rem;" type="search" placeholder="Search"
                    aria-label="Search" name="search">
                <button class="btn btn-sm btn-success px-2" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>