<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/quartz/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
        #tasks-table tr {
            display: block;
            float: left;
            min-width: 33.3%;
        }

        #tasks-table th {
            text-align: center;
        }

        #tasks-table th,
        #tasks-table td {
            display: block;
        }

        #backboard .badge span,
        #tasks-table .badge span {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 3.5rem;
            padding: 0 5px 0 5px;
            height: 2rem;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center
        }

        #tasks-table .tag-item {
            font-size: .75rem;
            display: inline-block;
            position: absolute;
            height: 1.5rem;
            top: auto;
            right: 0;
            background: rgba(83, 83, 83, 0.2);
            border-radius: 3px;
            padding: 2.5px 10px;
        }

        #task-details.card {
            border: 0;
            box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
        }

        #task-details .card-header {
            display: inline;
        }

        #task-details .card-title {
            padding: 1rem;
            border-radius: 20px;
            text-align: center;
        }


        .task-details .task-details-title-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .task-details .task-details-title-wrapper .task-details-date-primary {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #edf1fc;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }

        .task-details .task-details-title-wrapper .task-details-date-primary .task-details-date-day {
            color: #4e73e5;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .task-details .task-details-title-wrapper .task-details-date-primary .task-details-date-month {
            color: #4e73e5;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

        .task-details .task-details-title-wrapper .task-details-date-secondary {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #fcfcfd;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }

        .task-details .task-details-title-wrapper .task-details-title {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
        }

        .task-details .task-details-title-wrapper .task-details-title .task-details-pro-title {
            color: #3c4142;
            font-weight: 600;
            font-size: 18px;
        }

        .task-details .task-details-title-wrapper .task-details-title .task-details-status {
            color: rgba(83, 83, 83, 0.8);
            font-size: 13px;
        }

        .task-details .task-details-title-wrapper .task-details-creator {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            flex: 1;
            text-align: end;
        }

        .task-details .task-details-description {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .5px;
            margin-top: 2rem;
            color: #000;

        }

        div.action-icons {
            display: flex;
            justify-content: end;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand me-4" href="/">Tasks manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {{#if loggedIn }}
                    {{#if admin}}
                    <li class="nav-item me-1">
                        <a class="nav-link active text-success" aria-current="page" href="/admin">Admin</a>
                    </li>
                    {{/if}}
                    <li class="nav-item me-1">
                        <a class="nav-link active" aria-current="page" href="/">Main Board</a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link active" aria-current="page" href="/backboard">Back Board</a>
                    </li>
                    {{#if (equal invalidTask undefined )}}
                    {{#if (equal mainboard true)}}
                    <li class="nav-item">
                        <a class="nav-link text-primary fw-bold" style="cursor: pointer;" data-bs-toggle="modal"
                            data-bs-target="#newTaskModal">
                            Add new
                        </a>
                    </li>
                    {{/if}}
                    {{/if}}
                </ul>
                <ul class="navbar-nav me-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Log out</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/signin">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                    {{/if}}
                </ul>
                {{#if loggedIn}}
                {{#if (equal mainboard true)}}
                <form class="d-flex" role="search" action="/" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </nav>
    <div class="container p-0" style="max-width: 1400px">
        {{{body}}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>